include HISTORY.rst
include LICENSE
include Makefile
include README.rst
include distribute_setup.py
include pystache/__init__.py
include pystache/examples/__init__.py
include pystache/examples/comments.mustache
include pystache/examples/comments.py
include pystache/examples/complex_view.mustache
include pystache/examples/complex_view.py
include pystache/examples/delimiters.mustache
include pystache/examples/delimiters.py
include pystache/examples/double_section.mustache
include pystache/examples/double_section.py
include pystache/examples/escaped.mustache
include pystache/examples/escaped.py
include pystache/examples/inner_partial.mustache
include pystache/examples/inner_partial.txt
include pystache/examples/inverted.mustache
include pystache/examples/inverted.py
include pystache/examples/lambdas.mustache
include pystache/examples/lambdas.py
include pystache/examples/simple.mustache
include pystache/examples/simple.py
include pystache/examples/template_partial.mustache
include pystache/examples/template_partial.py
include pystache/examples/template_partial.txt
include pystache/examples/unescaped.mustache
include pystache/examples/unescaped.py
include pystache/examples/unicode_input.mustache
include pystache/examples/unicode_input.py
include pystache/examples/unicode_output.mustache
include pystache/examples/unicode_output.py
include pystache/template.py
include pystache/tests/__init__.py
include pystache/tests/test_examples.py
include pystache/tests/test_pystache.py
include pystache/tests/test_view.py
include pystache/view.py
include setup.py
